*.log
.gradle
build/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

## Eclipse ###
.classpath
.project
.settings/
bin/
/.metadata

/spica-cli/config.xml
/spica-cli/src/main/resources/spica-cli.version
/spica-ionicclient/package-lock.json
/spica-fxclient/.spica/config*
/spica-cli/.spica/config*
/spica-server/.spica/
/.spica/
