
<p-toolbar>
    <p-sidebar  [(visible)]="sidebarVisible" position="left">

        <div>
          <h3>General</h3>
          <p-button routerLink="/app/dashboard" type="button" (click)="sidebarVisible = false" label="Dashboard" styleClass="p-button-success"></p-button>
        </div>
        <div>
            <h3>Software</h3>
            <div><p-button routerLink="/app/software" type="button" (click)="sidebarVisible = false" label="Model" styleClass="p-button-success"></p-button></div>
            <div><p-button routerLink="/app/software/metrics" type="button" (click)="sidebarVisible = false" label="Metrics" styleClass="p-button-success"></p-button></div>
        </div>
    </p-sidebar>
    <p-button type="text" (click)="sidebarVisible = true" icon="pi pi-bars"></p-button>


    <h2 style="border-left: 10px;"><span>SPICA</span></h2>

    <div class="flexExpand"></div>
    <div fxFlex fxLayout="row" fxFlexOffset="20" fxLayoutAlign="end">
                <p-button  label="Settings" fxLayoutAlign="flex-end">
                </p-button>

                <p-button label="Help">
                </p-button>

                <p-button label="Person">
                </p-button>

                <p-menu #menu [popup]="true" [model]="userMenuItems()"></p-menu>
                <button type="button" pButton icon="pi pi-list" label="  {{authenticationService.getLoggedInUserName()}}" (click)="menu.toggle($event)"></button>

    </div>

</p-toolbar>




