<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button (click)="toggleSideBar()">
            <mat-icon>menu</mat-icon>
        </button>

        <span>SPICA</span>
    
        <div class="flexExpand"></div>
        <div fxFlex fxLayout="row" fxFlexOffset="20" fxLayoutAlign="end">
                    <button mat-icon-button fxLayoutAlign="flex-end">
                        <mat-icon>settings</mat-icon>
                    </button>

                    <button mat-icon-button>
                        <mat-icon>help_outline</mat-icon>
                    </button>

                    <button mat-button [matMenuTriggerFor]="menu">
                        <mat-icon>person_outline</mat-icon>
                    </button>

                   <mat-menu #menu="matMenu">
                        <button mat-menu-item *ngIf="!isLoggedIn()" routerLink="/login">
                            <mat-icon>exit_to_app</mat-icon>
                            Log in
                        </button>
                        <button mat-menu-item *ngIf="isLoggedIn()" (click)=handleLogout()>
                            <mat-icon>exit_to_app</mat-icon>
                            Log out
                        </button>
                    </mat-menu>
        </div>
    </mat-toolbar-row>
    
</mat-toolbar>
