<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<model>
    <projectInfos>
        <color>0x80b380ff</color>
        <id>Private</id>
        <name>Private</name>
    </projectInfos>
    <projectInfos>
        <color>0x8099ffff</color>
        <id>Work</id>
        <name>Work</name>
    </projectInfos>
    <projectInfos>
        <color>0xff9999ff</color>
        <id>d412bc55-823e-4514-9f2f-8079a933d4fc</id>
        <name>Spica</name>
        <parentId>Work</parentId>
    </projectInfos>
    <projectInfos>
        <color>0xb399ffff</color>
        <id>bcd51753-5447-496e-b6a8-789e33755ae2</id>
        <name>Plan holiday</name>
        <parentId>Private</parentId>
    </projectInfos>
    <selectedProjectInfo>
        <color>0xb399ffff</color>
        <id>bcd51753-5447-496e-b6a8-789e33755ae2</id>
        <name>Plan holiday</name>
        <parentId>Private</parentId>
    </selectedProjectInfo>
    <selectedTaskInfo>
        <description>see https://stackoverflow.com/questions/21655790/javafx-popover-from-controlfx 
</description>
        <id>668c273b-a508-48f7-93cf-09dce6409f79</id>
        <name>TestTask3 </name>
        <parentId>e856e0af-8d48-4b0a-86f8-56818c92cf95</parentId>
        <projectId>d412bc55-823e-4514-9f2f-8079a933d4fc</projectId>
    </selectedTaskInfo>
    <taskInfos>
        <id>5df1f25c-ed83-4f39-b8de-c377b2acee3a</id>
        <name>TaskView Today / This Week</name>
        <plannedDate>2020-06-26</plannedDate>
        <projectId>d412bc55-823e-4514-9f2f-8079a933d4fc</projectId>
        <state>FINISHED</state>
    </taskInfos>
    <taskInfos>
        <id>e856e0af-8d48-4b0a-86f8-56818c92cf95</id>
        <name>DragAndDrop: Tasks</name>
        <projectId>d412bc55-823e-4514-9f2f-8079a933d4fc</projectId>
    </taskInfos>
    <taskInfos>
        <id>c73e39d9-7b8c-4158-b545-a38a888315e9</id>
        <name>TestTask1</name>
        <projectId>d412bc55-823e-4514-9f2f-8079a933d4fc</projectId>
        <state>FINISHED</state>
    </taskInfos>
    <taskInfos>
        <id>30e51d22-ecd6-4adb-b3f9-ae39066fd873</id>
        <name>TestTask2</name>
        <projectId>d412bc55-823e-4514-9f2f-8079a933d4fc</projectId>
    </taskInfos>
    <taskInfos>
        <description>see https://stackoverflow.com/questions/21655790/javafx-popover-from-controlfx 
</description>
        <id>668c273b-a508-48f7-93cf-09dce6409f79</id>
        <name>TestTask3 </name>
        <parentId>e856e0af-8d48-4b0a-86f8-56818c92cf95</parentId>
        <projectId>d412bc55-823e-4514-9f2f-8079a933d4fc</projectId>
    </taskInfos>
    <taskInfos>
        <description></description>
        <id>fad09160-7550-4a66-9129-6073e2f469e1</id>
        <name>Neuer Task</name>
        <projectId>d412bc55-823e-4514-9f2f-8079a933d4fc</projectId>
    </taskInfos>
    <taskInfos>
        <id>0efb210d-2ad7-4d1a-89a8-8be84d90a6c3</id>
        <name>Synchronize model on the fly</name>
    </taskInfos>
    <workingsetInfos>
        <id>72f1f741-22a9-4d8a-8436-e6c27ce6be4b</id>
        <name>testWorkingSet</name>
        <sourceparts>
            <branch>master</branch>
            <enabled>true</enabled>
            <id>project1</id>
            <url>/Users/OleyMa/vcs/spica/spica/build/demodata/gitserver/project1</url>
        </sourceparts>
        <sourceparts>
            <branch>master</branch>
            <enabled>true</enabled>
            <id>project2</id>
            <url>/Users/OleyMa/vcs/spica/spica/build/demodata/gitserver/project1</url>
        </sourceparts>
    </workingsetInfos>
</model>
