<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<model>
    <me>
        <email>me@spica.org</email>
        <id>me</id>
        <username>me</username>
    </me>
    <messagecontainerInfos>
        <message>
            <creatorMailadresse>firstname.lastname@spica.org</creatorMailadresse>
            <message>Message1</message>
            <readtime>2021-01-30T11:10:51.926629</readtime>
        </message>
        <topic>topic</topic>
    </messagecontainerInfos>
    <projectInfos>
        <color>0x80b380ff</color>
        <id>Private</id>
        <name>Private</name>
    </projectInfos>
    <projectInfos>
        <color>0x8099ffff</color>
        <id>Work</id>
        <name>Work</name>
    </projectInfos>
</model>
