<mat-grid-list cols="2" rowHeight="85px">
    <mat-grid-tile>
        <div fxFlex fxLayoutAlign="start center">
            <h1>Software</h1>
        </div>
    </mat-grid-tile>
    
    <mat-grid-tile>
        <div class="buttonpane">
            <button mat-flat-button color="primary"[routerLink]="['/app/software',2]">New</button>
            <button mat-flat-button color="primary">Remove</button>
        </div>

    </mat-grid-tile>


</mat-grid-list>

<table mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>