<h2>Software</h2>

<p-treeTable [value]="software">
  <ng-template pTemplate="header">
      <tr>
          <th>Name</th>
          <th>Edit</th>

      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
      <tr>
          <td>
              <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
              {{rowData.name}}
          </td>
          <td>
            <p-button icon="pi pi-pencil" (click)="stepToDetails(rowData)"></p-button>
        </td>
      </tr>
  </ng-template>
</p-treeTable>
