mat-card {
  max-width: 200px;
  
  
}

.container {
  text-align: center;
  justify-content: center;
}

.alert {
  margin: 100px auto;
  color: red;
}

mat-form-field {
  max-width: 400px;
  margin: 2em auto;
  display: block;
}