<h2>Login</h2>

<div class="p-fluid">

          
  <div class="p-field p-grid">
    <label for="fieldUsername" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Username</label>
    <div class="p-col-12 p-md-10">
    <input id="fieldUsername" [(ngModel)]="username" type="text" pInputText> 
    </div>
  </div>
  <div class="p-field p-grid">
    <label for="fieldPassword" class="p-col- p-mb-2 p-md-2 p-mb-md-0">Password</label>
    <div class="p-col-12 p-md-10">
      <input type="password" pPassword [(ngModel)]="password" />
    </div>
  </div>

  <div *ngIf="loginSuccess" class="success p-col-12 p-mb-2 p-md-2 p-mb-md-0">
    Login successful
  </div>

  <div *ngIf="invalidLogin" class="failed p-col-12 p-mb-2 p-md-2 p-mb-md-0">
    Login failed
  </div>

  <div class="p-field p-grid" >
    <p-button  type="button" (click)="handleLogin()" label="Login" class="p-col-12 p-mb-2 p-md-2 p-mb-md-"></p-button>
  </div>

  


</div>