.header {
    -fx-text-fill: #895A5A;
    -fx-font-size: 30pt;
    -fx-font-weight: bold;
    -fx-font-family: Arial;
}



.rootpane {
    -fx-background-color: #111111
}

.infopane {
    -fx-background-color: #000000
}


.infotype {
    -fx-text-fill: #AAAAAA;
    -fx-font-size: 15pt;
    -fx-font-weight: bold;
    -fx-font-family: Arial;
}

.infotext {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 15pt;
    -fx-font-family: Arial;
}

.menubutton {
    -fx-font-size: 20pt;
    -fx-font-weight: bold;
    -fx-font-family: Arial;
    -fx-background-color: #444444;
}