
<div *ngIf="software">
<div class="main">
<div class="p-grid">
    <div class="p-col"><h1>Software: {{software.name}}</h1></div>
    <div class="p-col"><img src="https://www.jenkins.io/images/post-images/jenkins-is-the-way/jenkins-is-the-way.png"
        height="80px" alt="Italian Trulli"></div>
    <div class="p-col"><div fxFlex fxLayout="row" fxFlexOffset="20" fxLayoutAlign="end">
        <p-button  label="Software" (click)="stepToOverview()"> 
        </p-button>
        <p-button  label="Save" (click)="save()"> 
        </p-button>

        <p-button label="Start"> 
        </p-button>
       
</div></div>
</div>
<p-tabView>
    <p-tabPanel header="GENERAL" >
        <div class="p-fluid">

          
          <div class="p-field p-grid">
            <label for="fieldName" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Name</label>
            <div class="p-col-12 p-md-10">
            <input id="fieldName" [(ngModel)]="software.name" type="text" pInputText> 
            </div>
          </div>
          <div class="p-field p-grid">
            <label for="fieldDescription" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Description</label>
            <div class="p-col-12 p-md-10">
            <textarea id="fieldDescription" [(ngModel)]="software.description" type="text" rows="6" pInputTextarea></textarea>
            </div>
          </div>
          <div class="p-field p-grid">
            <label for="fieldType" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Type</label>
            <div class="p-col-12 p-md-10">
            <p-dropdown id="fieldType" [options]="constants.types" [(ngModel)]="software.type" optionLabel="displayname" ></p-dropdown>
            </div>
          </div>
          <div class="p-field p-grid">
            <label for="fieldGroup" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Group</label>
            <div class="p-col-12 p-md-10">
            <p-dropdown id="fieldGroup" [options]="constants.groups" [(ngModel)]="software.group" optionLabel="displayname"></p-dropdown>
            </div>
          </div>

        </div>
        
    </p-tabPanel>
    <p-tabPanel header="PLANNING">
        <div class="p-fluid">

        <!--<div class="p-field p-grid">
            <label for="fieldTargetDate" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Target date</label>
            <div class="p-col-12 p-md-10">
                <p-calendar [(ngModel)]="value"></p-calendar>
            </div>
        </div>-->
        <div class="p-field p-grid">
          <label for="fieldDescription" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">State</label>
          <div class="p-col-12 p-md-10">
          <p-dropdown [options]="constants.states" [(ngModel)]="software.state" optionLabel="displayname"></p-dropdown>
          </div>
        </div>

        <!--<div class="p-field p-grid">
            <label for="onlineHelp" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Needs online help</label>
            <div class="p-col-12 p-md-10">
                <p-checkbox name="onlineHelp"></p-checkbox>
            </div>
        </div>-->

        <!--<div class="p-field p-grid">
            <label for="monitoring" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Needs monitoring</label>
            <div class="p-col-12 p-md-10">
                <p-checkbox name="monitoring"></p-checkbox>
            </div>
        </div>-->

        <!--<div class="p-field p-grid">
            <label for="persistence" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Contains persistence</label>
            <div class="p-col-12 p-md-10">
                <p-checkbox name="persistence"></p-checkbox>
            </div>
        </div>-->

        <!--<div class="p-field p-grid">
            <label for="authentication" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Needs authentication</label>
            <div class="p-col-12 p-md-10">
                <p-checkbox name="authentication"></p-checkbox>
            </div>
        </div>-->
        </div>
          
        
    </p-tabPanel>
    <p-tabPanel header="CONTACTS">
        <div class="p-fluid">

        <p-table [value]="software.teammembers">
            <ng-template pTemplate="header">
                <tr>
                    <th>User</th>
                    <th>Role</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-member>
                <tr>
                    <td>{{member.user}}</td>
                    <td><p-dropdown [options]="constants.roles"  optionLabel="displayname"></p-dropdown>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        </div>
    </p-tabPanel>
    <p-tabPanel header="RELATIONS">
        <div class="p-fluid">

        <p-table [value]="relations">
            <ng-template pTemplate="header">
                <tr>
                    <th>Type</th>
                    <th>Target</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-connection>
                <tr>
                    <td>uses</td>
                    <td><p-dropdown [options]="allsoftware"  optionLabel="name"></p-dropdown></td>
                </tr>
            </ng-template>
        </p-table>
        </div>
        
    </p-tabPanel>

    <p-tabPanel header="RUNTIME">
        <div class="p-fluid">

        <div class="p-field p-grid">
            <label for="deployments" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Deployment</label>
            <div class="p-col-12 p-md-10">
            <p-dropdown [options]="constants.deployments"  optionLabel="name"></p-dropdown>
            </div>
          </div>
          <!--<div class="p-field p-grid">
            <label for="deploymentName" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Deploymentname</label>
            <div class="p-col-12 p-md-10">
            <input id="deploymentName" type="text" pInputText> 
            </div>
          </div>-->
          <div class="p-field p-grid">
            <label for="location" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Location</label>
            <div class="p-col-12 p-md-10">
            <input id="location" type="text" pInputText> 
            </div>
          </div>
          </div>
        
    </p-tabPanel>
    <p-tabPanel header="DEVELOPMENT">
        <div class="p-fluid">

        <!--<div class="p-field p-grid">
            <label for="fitsArchitecture" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Fits architecture</label>
            <div class="p-col-12 p-md-10">
                <p-checkbox name="fitsArchitecture"></p-checkbox>
            </div>
        </div>-->
        <div class="p-field p-grid">
            <label for="architectureExceptions" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Description</label>
            <div class="p-col-12 p-md-10">
            <textarea id="architectureExceptions" type="text" rows="6" pInputTextarea></textarea>
            </div>
          </div>
          <div class="p-field p-grid">
            <label for="vcs" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Name</label>
            <div class="p-col-12 p-md-10">
            <input id="vcs" type="text" pInputText> 
            </div>
          </div>
          <!--<div class="p-field p-grid">
            <label for="buildsystem" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Buildsystem</label>
            <div class="p-col-12 p-md-10">
            <input id="buildsystem" type="text" pInputText> 
            </div>
          </div>-->
          <!--<div class="p-field p-grid">
            <label for="bugtracking" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">BugTracking</label>
            <div class="p-col-12 p-md-10">
            <input id="bugtracking" type="text" pInputText> 
            </div>
          </div>-->
          </div>
    </p-tabPanel>
    <p-tabPanel header="TECHNOLOGY">

        <div class="p-field p-grid">
            <div class="p-col-12 p-md-10">
            <input id="vcs" type="text" [(ngModel)]="newTechnology" pInputText> 
            </div>
            <p-button  label="+" (click)="addTechnology()"> 
            </p-button>
            
          </div>

        <p-listbox [options]="software.technologies"></p-listbox> 


    </p-tabPanel>
    
</p-tabView>
</div>
</div>
